<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Lab_091Soap">
          <security mode="Transport" />
        </binding>
        <binding name="Lab_091Soap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44332/Lab_091.asmx" binding="basicHttpBinding"
        bindingConfiguration="Lab_091Soap" contract="ServiceReference1.Lab_091Soap"
        name="Lab_091Soap" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>